:root {
  --fc-red: hsl(4, 100%, 67%);
  --fc-blue-800: hsl(234, 29%, 20%);
  --fc-blue-700: hsl(235, 18%, 26%);
  --fc-grey: hsl(0, 0%, 58%);
  --fc-white: hsl(0, 0%, 100%);

  --fw-400: 400;
  --fw-700: 700;
}

/* CSS reset start */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-inline-size: 100%;
}

button {
  border: 0;
  padding: 0;
}
/* CSS reset end */

body {
  font-family: 'Roboto', sans-serif;
  /* min-height: 100vh; */
}

main {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif; /* ToDo: Remove- Redundant */

  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fc-blue-700);
  }
}

.default-section {
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--fc-white);
    border-radius: 1em;
  }
}

.illustration-svg {
  padding-block-start: 75.73%;
  inline-size: 100%;
  background-image: url('./assets/images/illustration-sign-up-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: 768px) {
    padding-block-start: 68.18%;
    background-image: url('./assets/images/illustration-sign-up-tablet.svg');
  }

  @media (min-width: 1024px) {
    background-image: url('./assets/images/illustration-sign-up-desktop.svg');
  }
}

h1 {
  padding-block: 0.8em;
  font-size: 2.4rem;
}

ul {
  padding-inline: 1.7em;
  margin-block: 1.5em;
}

p,
li {
  line-height: 1.5;
}

li {
  margin-bottom: 1em;
  list-style-image: url('./assets/images/icon-list.svg');
}

li::before {
  margin-left: 0.7em;
  content: '';
}

.content {
  padding-inline: 2em;
}

.label__container {
  display: flex;
}

.form__label,
.error-msg {
  margin-bottom: 0.8em;
  font-size: 0.9rem;
  font-weight: var(--fw-700);
}

.error-msg {
  color: var(--fc-red);
  margin-inline-start: auto;
}

.form__input,
.form__btn {
  padding: 1.5em;
  margin-block-end: 1.7em;
  inline-size: 100%;
  font-size: 1rem;
  border-radius: 6px;
}

.form__input {
  border: 1px solid var(--fc-grey);
}

.form__input--error {
  border-color: var(--fc-red);
  background-color: hsl(4, 100%, 95%);
}

.form__input--error::placeholder {
  color: var(--fc-red);
}

.form__btn {
  background-color: var(--fc-blue-800);
  font-weight: var(--fw-700);
  color: var(--fc-white);
  transition: background-color 250ms;
}

.form__btn:hover {
  cursor: pointer;
  background-color: var(--fc-red);
}

.success-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.success-msg__img {
  max-width: 4em;
}

.success__wrapper {
  margin-block: auto;
}

.success__wrapper h1 {
  font-size: 2.7rem;
}

.success__wrapper p {
  font-size: 1.25rem;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

/* Default footer */
/* .attribution {
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */
